@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-roboto: var(--font-roboto);
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom text stroke and strong shadow */
.text-stroke {
  -webkit-text-stroke: 1px #615a5a;
  text-stroke: 1px #615a5a;
}
.text-shadow-strong {
  text-shadow: 0px 0px 1px #615a5a, 0 0 2px #615a5a;
}

.box-shadow-strong {
  box-shadow: 0px 0px 5px #615a5a, 0 0 10px #615a5a;
}

/* Custom scrollbar for category list */

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.category-list::-webkit-scrollbar {
  width: 5px;
}

.category-list::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 4px;
}

.category-list::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.9);
}
